<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="list" class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 id="task-list-header" class="h5 mb-0">All tasks</h2>

        <div id="scope-selection-container"></div>
    </div>
    <div class="card-body p-0">
        <table class="table table-hover align-middle mb-0">
            <thead>
            <tr>
                <th class="ps-3">Id</th>
                <th>Title</th>
                <th>Assignees</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Data</th>
                <th>Hours</th>
                <th class="text-end pe-3"></th>
            </tr>
            </thead>
            <tbody id="task-table-body">
            </tbody>
        </table>
    </div>
    <div class="card-footer text-end" style="margin-top: 10px;">
        <button id="add-new-task-btn" type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#taskFormModal">
            Add New
        </button>
    </div>
</div>

</body>
</html>