<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="section" class="col-lg-4">
    <div class="card mb-4 h-100">
        <div class="card-body text-center d-flex flex-column">
            <h3>Profile picture</h3>

            <div id="picture-container" class="flex-grow-1 d-flex align-items-center justify-content-center">
                <div>
                    <div th:if="${user.profilePicturePath != null}">
                        <img id="profile-picture" th:src="@{/files/profile-pictures/{filename}(filename=${user.profilePicturePath})}" alt="Profile Picture">
                    </div>
                    <div th:if="${user.profilePicturePath == null}">
                        <div id="profile-picture-placeholder">No picture</div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 mt-3" th:switch="${status}">

                <div th:case="${T(com.pm.todoapp.model.ProfileStatus).OWNER}">
                    <hr>
                    <label for="file" class="btn btn-primary">Change profile picture</label>
                    <input type="file" id="file" name="file" class="d-none" accept="image/*">
                    <p id="upload-status" class="mt-2"></p>
                </div>

                <form th:case="${T(com.pm.todoapp.model.ProfileStatus).FRIEND}" th:action="@{/friends/remove}" method="post">
                    <input type="hidden" name="friendId" th:value="${user.id}" />
                    <button type="submit" class="btn btn-danger w-100">Remove Friend</button>
                </form>

                <div th:case="${T(com.pm.todoapp.model.ProfileStatus).INVITATION_SENT}">
                    <form th:action="@{/friends/cancel-invitation}" method="post">
                        <div class="text-muted mb-2">
                            <small>Friend request send</small>
                        </div>
                        <input type="hidden" name="friendId" th:value="${user.id}" />
                        <button type="button" class="btn btn-secondary" id="cancel-invitation--btn">Cancel</button>
                    </form>
                </div>

                <div th:case="${T(com.pm.todoapp.model.ProfileStatus).INVITATION_RECEIVED}">
                    <div class="text-muted mb-2">
                        <small>Friend request received</small>
                    </div>
                    <div class="d-flex justify-content-center gap-2" id="invitation-action-container">
                        <button type="button" class="btn btn-success" id="accept-invitation-btn">
                            Accept
                        </button>
                        <button type="button" class="btn btn-outline-danger" id="decline-invitation-btn">
                            Decline
                        </button>
                    </div>
                </div>

                <div th:case="*">
                    <button type="button"
                            id="add-friend-btn"
                            th:attr="data-profile-id=${user.id}"
                            class="btn btn-success w-100">
                        Add Friend
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>