<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbar" class="col-md-2 menu-column d-flex flex-column">
    <div>
        <h4 class="mt-4 mb-3">Menu</h4>
        <div class="nav flex-column nav-pills" id="view-selector">
            <a class="nav-link view-link active" href="#" data-view="all">All</a>
            <a class="nav-link view-link" href="#" data-view="calendar">Calendar</a>
            <a class="nav-link view-link" href="#" data-view="filter">Filters</a>
        </div>

        <h4 class="mt-4 mb-3">Projects</h4>
        <div id="projects-list" class="nav flex-column"></div>

        <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
            <h4 class="mb-0">Teams</h4>
            <div class="dropdown">
                <a class="text-primary text-decoration-none" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.75rem; line-height: 1; font-weight: 300;">+</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#createTeamModal">Create new</a></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#joinTeamModal">Join</a></li>
                </ul>
            </div>
        </div>

        <div id="teams-list" class="nav flex-column"></div>

    </div>
</div>

</body>
</html>