<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="buttons" class="d-grid gap-2 mt-3" th:switch="${profileStatusInfo.status}">

    <div th:case="${T(com.pm.todoapp.model.ProfileStatus).OWNER}">
        <hr>
        <label for="file" class="btn btn-primary">Change profile picture</label>
        <input type="file" id="file" name="file" class="d-none" accept="image/*">
        <p id="upload-status" class="mt-2"></p>
    </div>

    <div th:case="${T(com.pm.todoapp.model.ProfileStatus).FRIEND}">
        <button type="button" id="remove-friend-btn" class="btn btn-danger w-100"
                th:attr="data-friend-id=${user.id}">
            Remove Friend
        </button>
    </div>

    <div th:case="${T(com.pm.todoapp.model.ProfileStatus).INVITATION_SENT}">
        <div class="text-muted mb-2">
            <small>Friend request send</small>
        </div>
        <button type="button" class="btn btn-secondary" id="cancel-invitation-btn"
                th:attr="data-request-id=${profileStatusInfo.friendRequestId}">
            Cancel
        </button>
    </div>

    <div th:case="${T(com.pm.todoapp.model.ProfileStatus).INVITATION_RECEIVED}">
        <div class="text-muted mb-2">
            <small>Friend request received</small>
        </div>
        <div class="d-flex justify-content-center gap-2" id="invitation-action-container">
            <button type="button" class="btn btn-success" id="accept-invitation-btn"
                    th:attr="data-request-id=${profileStatusInfo.friendRequestId}">
                Accept
            </button>
            <button type="button" class="btn btn-outline-danger" id="decline-invitation-btn"
                    th:attr="data-request-id=${profileStatusInfo.friendRequestId}">
                Decline
            </button>
        </div>
    </div>

    <div th:case="*">
        <button type="button"
                id="add-friend-btn"
                th:attr="data-profile-id=${user.id}"
                class="btn btn-success w-100">
            Add Friend
        </button>
    </div>

</div>
</body>
</html>