<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navigation" th:if="${view == 'calendar'}" class="card mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <a th:href="@{/calendar(view='calendar', date=${centerDate.minusDays(1)}, team=${selectedTeamId}, scope=${selectedScope})}"
               class="btn btn-outline-secondary"><</a>
            <div class="btn-group mx-2" role="group">
                <th:block th:each="i : ${#numbers.sequence(-2, 2)}">
                    <th:block th:with="currentDate=${centerDate.plusDays(i)}">
                        <a th:href="@{/calendar(view='calendar', date=${currentDate}, team=${selectedTeamId}, scope=${selectedScope})}"
                           th:text="${#temporals.format(currentDate, 'dd.MM')}"
                           class="btn"
                           th:classappend="${#temporals.format(currentDate, 'yyyy-MM-dd') == #temporals.format(centerDate, 'yyyy-MM-dd')} ? 'btn-primary' : 'btn-outline-primary'">
                        </a>
                    </th:block>
                </th:block>
            </div>
            <a th:href="@{/calendar(view='calendar', date=${centerDate.plusDays(1)}, team=${selectedTeamId}, scope=${selectedScope})}"
               class="btn btn-outline-secondary">></a>
            <form th:action="@{/calendar}" method="get" class="d-flex align-items-center ms-auto mt-2 mt-md-0">
                <input type="hidden" name="team" th:if="${selectedTeamId}" th:value="${selectedTeamId}">
                <input type="hidden" name="scope" th:if="${selectedTeamId}" th:value="${selectedScope}">
                <input type="date" name="date" th:value="${#temporals.format(centerDate, 'yyyy-MM-dd')}"
                       class="form-control"/>
                <button type="submit" class="btn btn-primary ms-2">Go</button>
            </form>
        </div>
    </div>
</div>

</body>