<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbar" class="col-md-4 col-lg-2 menu-column">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h4 class="mb-0">Conversations</h4>
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newConversationModal" aria-label="Create new conversation">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>

    <div class="nav flex-column" id="conversation-list">

    </div>
</div>

</body>