<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h2>Register</h2>

<form action="/register" th:action="@{/register}" th:object="${registerRequest}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required minlength="1">
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required minlength="8">
    </div>
    <br>
    <button type="submit">Register</button>
</form>

<div th:if="${successMessage}">
    <p th:text="${successMessage}" style="color: green;"></p>
</div>

</body>
</html>